<?xml version="1.0"?>
<launch>

    <arg name="debug" default="false"/>
    <arg if="$(arg debug)" name="launch_prefix" default="gdb -ex run --args"/>
    <arg unless="$(arg debug)" name="launch_prefix" default=""/>

    <arg name="zero_when_static" default="true"/>
    <arg name="static_count_threshold" default="30"/>
    <arg name="static_trans_deadband" default="0.05"/>
    <arg name="static_rot_deadband" default="0.1"/>
    <arg name="pad_model" default="$(optenv ROBOT_PAD_MODEL spacenav_kinova_arm)"/>
    <arg name="pad_config" default="$(find robotnik_pad)/config/robotnik_pad_plugins_$(arg pad_model).yaml" />

    <node pkg="spacenav_node" type="spacenav_node" name="$(anon spacenav_node)" output="screen">
        <param name="zero_when_static" value="$(arg zero_when_static)"/>
        <param name="static_count_threshold" value="$(arg static_count_threshold)"/>
        <param name="static_trans_deadband" value="$(arg static_trans_deadband)"/>
        <param name="static_rot_deadband" value="$(arg static_rot_deadband)"/>
    </node>

    <!-- Parameters -->
    <node name="robotnik_pad" pkg="robotnik_pad" type="robotnik_pad_node" output="screen" launch-prefix="$(arg launch_prefix)">
        <rosparam command="load" file="$(arg pad_config)" />
        <param name="desired_freq" value="100.0" />
    </node>

</launch>
